## Final step for sudoku solver solution - fill missed digits in sudoku field

In [1]:
%load_ext autoreload
%autoreload 2

In [57]:
import pandas as pd
import numpy as np
from solver_one_sudoku import sudoku_solver
from tqdm import tqdm

In [129]:
IMG_DIR = "data/test/images"
img_files = os.listdir(IMG_DIR)

In [130]:
preds_df = pd.read_csv('data/test_classification_preds.csv')
preds_df.head()

         id  preds
0  3074_0_0      3
1  3074_0_3      6
2  3074_0_4      7
3  3074_0_8      2
4  3074_1_0      5

In [131]:
preds_df['fname'] = preds_df["id"].apply(lambda x: x.split("_")[0])
preds_df['row'] = preds_df["id"].apply(lambda x: x.split("_")[1])
preds_df['col'] = preds_df["id"].apply(lambda x: x.split("_")[2])
preds_df.head()

         id  preds fname row col
0  3074_0_0      3  3074   0   0
1  3074_0_3      6  3074   0   3
2  3074_0_4      7  3074   0   4
3  3074_0_8      2  3074   0   8
4  3074_1_0      5  3074   1   0

In [132]:
def get_partial_matrix(img_name):
    res = np.zeros((9, 9))
    idxs = list(preds_df.loc[preds_df.fname==img_name].index)
    for idx in idxs:
        row, col, pred = preds_df.iloc[idx][["row", "col", "preds"]]
        res[int(row)][int(col)] = pred
    return res

In [134]:
res = get_partial_matrix(img_files[0].split(".")[0])
res

array([[3., 0., 0., 6., 7., 0., 0., 0., 2.],
       [5., 7., 0., 9., 0., 0., 0., 0., 0.],
       [0., 6., 9., 0., 1., 0., 0., 0., 0.],
       [0., 5., 0., 0., 9., 0., 0., 1., 3.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [6., 9., 0., 0., 5., 0., 0., 7., 0.],
       [0., 0., 0., 0., 6., 0., 4., 2., 0.],
       [0., 0., 0., 0., 0., 7., 0., 9., 1.],
       [9., 0., 0., 0., 8., 1., 0., 0., 6.]])

In [135]:
out_dct = {"id": [], "solution_pred": []}
for fname in tqdm(img_files):
    fname = fname.split(".")[0]
    mat = get_partial_matrix(fname)
    res = sudoku_solver(mat)
    out_dct["id"].append(fname)
    out_dct["solution_pred"].append(res)

res_pd = pd.DataFrame.from_dict(out_dct)
res_pd.to_csv("data/test_labels_preds.csv", index=False)

100%|██████████| 5001/5001 [1:11:22<00:00,  1.17it/s]